In [1]:
!pip install googlemaps
import pandas as pd # pandas - a powerful data analysis and manipulation library for Python
import requests # Requests is an HTTP library, written in Python, for human beings.
from datetime import datetime
import googlemaps

Requirement already satisfied: googlemaps in /Users/nicholesun/opt/anaconda3/lib/python3.7/site-packages (2.5.1)
Requirement already satisfied: requests<3.0,>=2.11.1 in /Users/nicholesun/opt/anaconda3/lib/python3.7/site-packages (from googlemaps) (2.22.0)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/nicholesun/opt/anaconda3/lib/python3.7/site-packages (from requests<3.0,>=2.11.1->googlemaps) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /Users/nicholesun/opt/anaconda3/lib/python3.7/site-packages (from requests<3.0,>=2.11.1->googlemaps) (2019.11.28)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/nicholesun/opt/anaconda3/lib/python3.7/site-packages (from requests<3.0,>=2.11.1->googlemaps) (1.25.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/nicholesun/opt/anaconda3/lib/python3.7/site-packages (from requests<3.0,>=2.11.1->googlemaps) (3.0.4)

In [2]:
#Google Maps API key
apikey = 'AIzaSyDxk6272R8Yu_QDKZRyR27SZBaJKN-_3u0'

## Using sample user origin

In [3]:
#User will input address as text
origin_address = '1512 Shattuck Ave, Berkeley, CA 94709'
dest_address = 'New York University,New York, NY 10003'

In [5]:
#Use Google Maps to grab latitude and longitude
r = requests.get('https://maps.googleapis.com/maps/api/geocode/json?address="%s"&key=%s'%
                 (origin_address, apikey))
r1=requests.get('https://maps.googleapis.com/maps/api/geocode/json?address="%s"&key=%s'%
                 (dest_address, apikey))
result_o = r.json()['results']
result_d=r1.json()['results']
location_origin = result_o[0]['geometry']['location']
location_destination = result_d[0]['geometry']['location']
o_lat = location_origin['lat']
o_lon = location_origin['lng']
d_lat = location_destination['lat']
d_lon = location_destination['lng']
origin = [o_lat, o_lon]
destination=[d_lat,d_lon]
print(origin)
print(destination)

[37.8798419, -122.2695316]
[40.72951339999999, -73.9964609]

## Using Amadeus to find nearest airport to user's starting location

In [6]:
pip install amadeus

Requirement already satisfied: amadeus in /Users/nicholesun/opt/anaconda3/lib/python3.7/site-packages (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import json
from amadeus import Client, ResponseError

amadeus = Client(client_id='UmuSC0LY9TgqaZoLDpBR2x74yN0GCahI',
    client_secret='9SbiFzopXFTkVOBz')

In [8]:
# Nearest airport search, put into a result array
#Need to get live latitude and longitudinal data from Google Maps
origin_address_list = []
dest_address_list=[]
origin_state_list = []
dest_state_list = []
a_lats = []
a_lons = []
b_lats=[]
b_lons=[]
a_iata = []
b_iata = []
try:
    '''
    What relevant airports are there around the origin location?
    '''
    response = amadeus.reference_data.locations.airports.get(longitude=o_lon, latitude=o_lat)
    response1 = amadeus.reference_data.locations.airports.get(longitude=d_lon, latitude=d_lat)
    for i in response.data:
        data_dict = i
#         print(i)
        origin_address_list.append(data_dict['name'])
        origin_state_list.append(data_dict['address']['stateCode'])
        a_lats.append(data_dict['geoCode']['latitude'])
        a_lons.append(data_dict['geoCode']['longitude'])
        a_iata.append(data_dict['iataCode'])
except ResponseError as error:
    raise error
    
try:
    '''
    What relevant airports are there around the destination location?
    '''
    response1 = amadeus.reference_data.locations.airports.get(longitude=d_lon, latitude=d_lat)
    for i in response1.data:
        data_dict1 = i
        print(i)
        dest_address_list.append(data_dict1['name'])
        dest_state_list.append(data_dict1['address']['stateCode'])
        b_lats.append(data_dict1['geoCode']['latitude'])
        b_lons.append(data_dict1['geoCode']['longitude'])
        b_iata.append(data_dict1['iataCode'])
except ResponseError as error:
    raise error

{'type': 'location', 'subType': 'AIRPORT', 'name': 'LAGUARDIA', 'detailedName': 'NEW YORK/NY/US:LAGUARDIA', 'timeZoneOffset': '-04:00', 'iataCode': 'LGA', 'geoCode': {'latitude': 40.77607, 'longitude': -73.87269}, 'address': {'cityName': 'NEW YORK', 'cityCode': 'NYC', 'countryName': 'UNITED STATES OF AMERICA', 'countryCode': 'US', 'stateCode': 'NY', 'regionCode': 'NAMER'}, 'distance': {'value': 11, 'unit': 'KM'}, 'analytics': {'flights': {'score': 25}, 'travelers': {'score': 17}}, 'relevance': 211.41658}
{'type': 'location', 'subType': 'AIRPORT', 'name': 'NEWARK LIBERTY INTL', 'detailedName': 'NEW YORK/NJ/US:NEWARK LIBERTY', 'timeZoneOffset': '-04:00', 'iataCode': 'EWR', 'geoCode': {'latitude': 40.69709, 'longitude': -74.17557}, 'address': {'cityName': 'NEW YORK', 'cityCode': 'NYC', 'countryName': 'UNITED STATES OF AMERICA', 'countryCode': 'US', 'stateCode': 'NJ', 'regionCode': 'NAMER'}, 'distance': {'value': 15, 'unit': 'KM'}, 'analytics': {'flights': {'score': 30}, 'travelers': {'score': 24}}, 'relevance': 192.45734}
{'type': 'location', 'subType': 'AIRPORT', 'name': 'JOHN F KENNEDY INTL', 'detailedName': 'NEW YORK/NY/US:JOHN F KENNEDY', 'timeZoneOffset': '-04:00', 'iataCode': 'JFK', 'geoCode': {'latitude': 40.63983, 'longitude': -73.77874}, 'address': {'cityName': 'NEW YORK', 'cityCode': 'NYC', 'countryName': 'UNITED STATES OF AMERICA', 'countryCode': 'US', 'stateCode': 'NY', 'regionCode': 'NAMER'}, 'distance': {'value': 20, 'unit': 'KM'}, 'analytics': {'flights': {'score': 34}, 'travelers': {'score': 35}}, 'relevance': 161.20226}
{'type': 'location', 'subType': 'AIRPORT', 'name': 'PHILADELPHIA INTL', 'detailedName': 'PHILADELPHIA/PA/US:PHILADELPHI', 'timeZoneOffset': '-04:00', 'iataCode': 'PHL', 'geoCode': {'latitude': 39.87835, 'longitude': -75.24018}, 'address': {'cityName': 'PHILADELPHIA', 'cityCode': 'PHL', 'countryName': 'UNITED STATES OF AMERICA', 'countryCode': 'US', 'stateCode': 'PA', 'regionCode': 'NAMER'}, 'distance': {'value': 141, 'unit': 'KM'}, 'analytics': {'flights': {'score': 27}, 'travelers': {'score': 19}}, 'relevance': 18.98661}
{'type': 'location', 'subType': 'AIRPORT', 'name': 'EDWARD L LOGAN INTL', 'detailedName': 'BOSTON/MA/US:EDWARD L LOGAN IN', 'timeZoneOffset': '-04:00', 'iataCode': 'BOS', 'geoCode': {'latitude': 42.36514, 'longitude': -71.01777}, 'address': {'cityName': 'BOSTON', 'cityCode': 'BOS', 'countryName': 'UNITED STATES OF AMERICA', 'countryCode': 'US', 'stateCode': 'MA', 'regionCode': 'NAMER'}, 'distance': {'value': 307, 'unit': 'KM'}, 'analytics': {'flights': {'score': 29}, 'travelers': {'score': 23}}, 'relevance': 9.34789}
{'type': 'location', 'subType': 'AIRPORT', 'name': 'WESTCHESTER COUNTY', 'detailedName': 'WHITE PLAINS/NY/US:WESTCHESTER', 'timeZoneOffset': '-04:00', 'iataCode': 'HPN', 'geoCode': {'latitude': 41.06694, 'longitude': -73.7075}, 'address': {'cityName': 'WHITE PLAINS', 'cityCode': 'HPN', 'countryName': 'UNITED STATES OF AMERICA', 'countryCode': 'US', 'stateCode': 'NY', 'regionCode': 'NAMER'}, 'distance': {'value': 44, 'unit': 'KM'}, 'analytics': {'flights': {'score': 3}, 'travelers': {'score': 1}}, 'relevance': 6.14908}
{'type': 'location', 'subType': 'AIRPORT', 'name': 'R REAGAN NAT', 'detailedName': 'WASHINGTON/DC/US:R REAGAN NAT', 'timeZoneOffset': '-04:00', 'iataCode': 'DCA', 'geoCode': {'latitude': 38.85233, 'longitude': -77.0372}, 'address': {'cityName': 'WASHINGTON', 'cityCode': 'WAS', 'countryName': 'UNITED STATES OF AMERICA', 'countryCode': 'US', 'stateCode': 'DC', 'regionCode': 'NAMER'}, 'distance': {'value': 333, 'unit': 'KM'}, 'analytics': {'flights': {'score': 20}, 'travelers': {'score': 14}}, 'relevance': 5.9629}
{'type': 'location', 'subType': 'AIRPORT', 'name': 'BALTIMORE/WASH. INTL', 'detailedName': 'BALTIMORE/MD/US:BALTIMORE/WASH', 'timeZoneOffset': '-04:00', 'iataCode': 'BWI', 'geoCode': {'latitude': 39.17528, 'longitude': -76.66833}, 'address': {'cityName': 'BALTIMORE', 'cityCode': 'WAS', 'countryName': 'UNITED STATES OF AMERICA', 'countryCode': 'US', 'stateCode': 'MD', 'regionCode': 'NAMER'}, 'distance': {'value': 286, 'unit': 'KM'}, 'analytics': {'flights': {'score': 16}, 'travelers': {'score': 15}}, 'relevance': 5.54605}
{'type': 'location', 'subType': 'AIRPORT', 'name': 'DULLES INTL', 'detailedName': 'WASHINGTON/DC/US:DULLES INTL', 'timeZoneOffset': '-04:00', 'iataCode': 'IAD', 'geoCode': {'latitude': 38.94877, 'longitude': -77.4491}, 'address': {'cityName': 'WASHINGTON', 'cityCode': 'WAS', 'countryName': 'UNITED STATES OF AMERICA', 'countryCode': 'US', 'stateCode': 'DC', 'regionCode': 'NAMER'}, 'distance': {'value': 355, 'unit': 'KM'}, 'analytics': {'flights': {'score': 18}, 'travelers': {'score': 14}}, 'relevance': 5.16149}
{'type': 'location', 'subType': 'AIRPORT', 'name': 'BRAINARD', 'detailedName': 'HARTFORD/CT/US:BRAINARD', 'timeZoneOffset': '-04:00', 'iataCode': 'HFD', 'geoCode': {'latitude': 41.74119, 'longitude': -72.64958}, 'address': {'cityName': 'HARTFORD', 'cityCode': 'HFD', 'countryName': 'UNITED STATES OF AMERICA', 'countryCode': 'US', 'stateCode': 'CT', 'regionCode': 'NAMER'}, 'distance': {'value': 159, 'unit': 'KM'}, 'analytics': {'flights': {'score': 5}, 'travelers': {'score': 4}}, 'relevance': 3.0596}

In [9]:
print(origin_address_list)
print(a_lats)
print(a_lons)
print(a_iata)
print()
print(dest_address_list)
print(b_lats)
print(b_lons)
print(b_iata)

['SAN FRANCISCO INTL', 'OAKLAND INTL', 'SAN JOSE MNPL', 'EXECUTIVE', 'INTERNATIONAL', 'BUCHANAN FLD', 'TAHOE INTL', 'CHARLES M SCHULZ', 'FRESNO YOSEMITE INTL', 'MONTEREY REGIONAL']
[37.61882, 37.72104, 37.36189, 38.51323, 38.69518, 37.98937, 39.50597, 38.5088, 36.77606, 36.5879]
[-122.3758, -122.2216, -121.9289, -121.4975, -121.5916, -122.058, -119.7731, -122.8139, -119.719, -121.8394]
['SFO', 'OAK', 'SJC', 'SAC', 'SMF', 'CCR', 'RNO', 'STS', 'FAT', 'MRY']

['LAGUARDIA', 'NEWARK LIBERTY INTL', 'JOHN F KENNEDY INTL', 'PHILADELPHIA INTL', 'EDWARD L LOGAN INTL', 'WESTCHESTER COUNTY', 'R REAGAN NAT', 'BALTIMORE/WASH. INTL', 'DULLES INTL', 'BRAINARD']
[40.77607, 40.69709, 40.63983, 39.87835, 42.36514, 41.06694, 38.85233, 39.17528, 38.94877, 41.74119]
[-73.87269, -74.17557, -73.77874, -75.24018, -71.01777, -73.7075, -77.0372, -76.66833, -77.4491, -72.64958]
['LGA', 'EWR', 'JFK', 'PHL', 'BOS', 'HPN', 'DCA', 'BWI', 'IAD', 'HFD']

## Using Amadeus API to calculate cheapest flight cost

In [10]:
from amadeus import Client, ResponseError
import json

amadeus = Client(
    client_id=' UmuSC0LY9TgqaZoLDpBR2x74yN0GCahI',
    client_secret='9SbiFzopXFTkVOBz'
)

try:
    response = amadeus.shopping.flight_offers_search.get(
        originLocationCode="SFO",
        destinationLocationCode="LGA",
        departureDate='2020-07-01',
        adults=1)
    flight_cost=response.data[0]['price']['total']
    print("The cheapest flight found costs",flight_cost)
except ResponseError as error:
    print(error)

The cheapest flight found costs 155.40

## Using Google Maps to create dataframe of nearest airport latitudes and longitudes

In [11]:
results = []
# locations_latitude = []
# locations_longitude = []
formatted_address = []
state = []
for location_string in origin_address_list:
    r = requests.get('https://maps.googleapis.com/maps/api/geocode/json?address="%s"&key=%s'%
                     (location_string, apikey))
#     print(r.json())
    result = r.json()['results']
#     print(result)
    location = result[0]['geometry']['location']
#     locations_longitude.append(location['lng'])
#     locations_latitude.append(location['lat'])
    formatted_address.append(result[0]['formatted_address'])
    results.append(result)

In [12]:

df = pd.DataFrame({'address':origin_address_list,'latitude':a_lats,'longitude':a_lons,'iata code':a_iata})
df

                address  latitude  longitude iata code
0    SAN FRANCISCO INTL  37.61882  -122.3758       SFO
1          OAKLAND INTL  37.72104  -122.2216       OAK
2         SAN JOSE MNPL  37.36189  -121.9289       SJC
3             EXECUTIVE  38.51323  -121.4975       SAC
4         INTERNATIONAL  38.69518  -121.5916       SMF
5          BUCHANAN FLD  37.98937  -122.0580       CCR
6            TAHOE INTL  39.50597  -119.7731       RNO
7      CHARLES M SCHULZ  38.50880  -122.8139       STS
8  FRESNO YOSEMITE INTL  36.77606  -119.7190       FAT
9     MONTEREY REGIONAL  36.58790  -121.8394       MRY

In [14]:
df1 = pd.DataFrame({'address':dest_address_list,'latitude':b_lats,'longitude':b_lons, 'iata code':b_iata})
df1

                address  latitude  longitude iata code
0             LAGUARDIA  40.77607  -73.87269       LGA
1   NEWARK LIBERTY INTL  40.69709  -74.17557       EWR
2   JOHN F KENNEDY INTL  40.63983  -73.77874       JFK
3     PHILADELPHIA INTL  39.87835  -75.24018       PHL
4   EDWARD L LOGAN INTL  42.36514  -71.01777       BOS
5    WESTCHESTER COUNTY  41.06694  -73.70750       HPN
6          R REAGAN NAT  38.85233  -77.03720       DCA
7  BALTIMORE/WASH. INTL  39.17528  -76.66833       BWI
8           DULLES INTL  38.94877  -77.44910       IAD
9              BRAINARD  41.74119  -72.64958       HFD

## Calculate distance from each of these airports to user origin

In [25]:
dist_from_origin = []
time_from_origin = []
dist_from_destination=[]
time_from_destination=[]

In [26]:
origin

[37.8798419, -122.2695316]

In [27]:
destination

[40.72951339999999, -73.9964609]

In [28]:
origin_str = str(o_lat) + "," + str(o_lon)
print(origin_str)

37.8798419,-122.2695316

In [29]:
dest_str = str(d_lat) + "," + str(d_lon)
print(dest_str)

40.72951339999999,-73.9964609

In [30]:
#Perform request to use the Google Maps API web service
now = datetime.now()
gmaps = googlemaps.Client(key=apikey)

In [31]:
for idx, row in df.iterrows():
    a_lat = row['latitude']
    a_lon = row['longitude']
    airport_str = str(a_lat) + "," + str(a_lon)
    directions = gmaps.directions(origin = origin_str,destination = airport_str,
                                  mode='driving',departure_time = now)
#     print(directions)
    print(directions[0]['legs'][0]['distance']['text'])
    print(directions[0]['legs'][0]['duration']['text'])
    print(directions[0]['legs'][0]['start_address'])
    print(directions[0]['legs'][0]['end_address'])
    dist_from_origin.append(directions[0]['legs'][0]['distance']['text'])
    time_from_origin.append(directions[0]['legs'][0]['duration']['text'])
    print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")

25.6 mi
38 mins
1512 Shattuck Ave, Berkeley, CA 94709, USA
4 Domestic Terminals Departures Level, San Francisco, CA 94128, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
15.4 mi
28 mins
1512 Shattuck Ave, Berkeley, CA 94709, USA
178 Air Cargo Way, Oakland, CA 94621, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
46.6 mi
58 mins
1512 Shattuck Ave, Berkeley, CA 94709, USA
Norman Y. Mineta San Jose International Airport (SJC), 1701 Airport Blvd, San Jose, CA 95110, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
81.0 mi
1 hour 26 mins
1512 Shattuck Ave, Berkeley, CA 94709, USA
6107 Freeport Blvd, Sacramento, CA 95822, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
82.1 mi
1 hour 28 mins
1512 Shattuck Ave, Berkeley, CA 94709, USA
Alaska Airlines - Sacramento, 6900 Airport Blvd, Sacramento, CA 95837, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
22.5 mi
37 mins
1512 Shattuck Ave, Berkeley, CA 94709, USA
510 Sally Ride Dr, Concord, CA 94520, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
212 mi
3 hours 29 mins
1512 Shattuck Ave, Berkeley, CA 94709, USA
2001 E Plumb Ln, Reno, NV 89502, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
64.1 mi
1 hour 12 mins
1512 Shattuck Ave, Berkeley, CA 94709, USA
Charles M. Schulz–Sonoma County Airport, 2200 Airport Blvd, Santa Rosa, CA 95403, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
186 mi
3 hours 5 mins
1512 Shattuck Ave, Berkeley, CA 94709, USA
Fresno Yosemite International Airport (FAT), 5175 E Clinton Way, Fresno, CA 93727, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
117 mi
2 hours 4 mins
1512 Shattuck Ave, Berkeley, CA 94709, USA
Airport Rd, Monterey, CA 93940, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [32]:
for idx, row in df1.iterrows():
    b_lat = row['latitude']
    b_lon = row['longitude']
    airport_d_str = str(b_lat) + "," + str(b_lon)
    directions_d = gmaps.directions(origin = dest_str,destination = airport_d_str,
                                  mode='driving',departure_time = now)
#     print(directions)
    print(directions_d[0]['legs'][0]['distance']['text'])
    print(directions_d[0]['legs'][0]['duration']['text'])
    print(directions_d[0]['legs'][0]['start_address'])
    print(directions_d[0]['legs'][0]['end_address'])
    dist_from_destination.append(directions_d[0]['legs'][0]['distance']['text'])
    time_from_destination.append(directions_d[0]['legs'][0]['duration']['text'])
    print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")

10.3 mi
25 mins
50 West 4th Street, New York, NY 10012, USA
Terminal B, LaGuardia Rd, East Elmhurst, NY 11371, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
13.7 mi
28 mins
50 West 4th Street, New York, NY 10012, USA
Terminal C, 3 Brewster Rd, Newark, NJ 07114, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
18.6 mi
37 mins
50 West 4th Street, New York, NY 10012, USA
John F. Kennedy International Airport (JFK), Queens, NY 11430, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
104 mi
1 hour 51 mins
50 West 4th Street, New York, NY 10012, USA
Airport Terminals E & F, Philadelphia, PA 19153, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
217 mi
3 hours 47 mins
50 West 4th Street, New York, NY 10012, USA
300 Terminal Dr, Boston, MA 02128, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
35.1 mi
56 mins
50 West 4th Street, New York, NY 10012, USA
240 Airport Rd, West Harrison, NY 10604, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
233 mi
3 hours 53 mins
50 West 4th Street, New York, NY 10012, USA
Ronald Reagan Washington National Airport (DCA), Arlington, VA 22202, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
199 mi
3 hours 14 mins
50 West 4th Street, New York, NY 10012, USA
Baltimore/Washington International Thurgood Marshall Airport (BWI), Baltimore, MD 21240, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
249 mi
4 hours 1 min
50 West 4th Street, New York, NY 10012, USA
Dulles International Airport (IAD), 1 Saarinen Cir, Dulles, VA 20166, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
114 mi
2 hours 9 mins
50 West 4th Street, New York, NY 10012, USA
20 Lindbergh Dr, Hartford, CT 06114, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [33]:
df['dist from origin'] = dist_from_origin
df['time from origin'] = time_from_origin
df['state'] = origin_state_list

In [34]:
df1['dist from destination'] = dist_from_destination
df1['time from destination'] = time_from_destination
df1['state'] = dest_state_list

In [35]:
df

,address,latitude,longitude,iata code,dist from origin,time from origin,state
0,SAN FRANCISCO INTL,37.61882,-122.3758,SFO,25.6 mi,38 mins,CA
1,OAKLAND INTL,37.72104,-122.2216,OAK,15.4 mi,28 mins,CA
2,SAN JOSE MNPL,37.36189,-121.9289,SJC,46.6 mi,58 mins,CA
3,EXECUTIVE,38.51323,-121.4975,SAC,81.0 mi,1 hour 26 mins,CA
4,INTERNATIONAL,38.69518,-121.5916,SMF,82.1 mi,1 hour 28 mins,CA
5,BUCHANAN FLD,37.98937,-122.0580,CCR,22.5 mi,37 mins,CA
6,TAHOE INTL,39.50597,-119.7731,RNO,212 mi,3 hours 29 mins,NV
7,CHARLES M SCHULZ,38.50880,-122.8139,STS,64.1 mi,1 hour 12 mins,CA
8,FRESNO YOSEMITE INTL,36.77606,-119.7190,FAT,186 mi,3 hours 5 mins,CA
9,MONTEREY REGIONAL,36.58790,-121.8394,MRY,117 mi,2 hours 4 mins,CA

In [36]:
df1

,address,latitude,longitude,iata code,dist from destination,time from destination,state
0,LAGUARDIA,40.77607,-73.87269,LGA,10.3 mi,25 mins,NY
1,NEWARK LIBERTY INTL,40.69709,-74.17557,EWR,13.7 mi,28 mins,NJ
2,JOHN F KENNEDY INTL,40.63983,-73.77874,JFK,18.6 mi,37 mins,NY
3,PHILADELPHIA INTL,39.87835,-75.24018,PHL,104 mi,1 hour 51 mins,PA
4,EDWARD L LOGAN INTL,42.36514,-71.01777,BOS,217 mi,3 hours 47 mins,MA
5,WESTCHESTER COUNTY,41.06694,-73.70750,HPN,35.1 mi,56 mins,NY
6,R REAGAN NAT,38.85233,-77.03720,DCA,233 mi,3 hours 53 mins,DC
7,BALTIMORE/WASH. INTL,39.17528,-76.66833,BWI,199 mi,3 hours 14 mins,MD
8,DULLES INTL,38.94877,-77.44910,IAD,249 mi,4 hours 1 min,DC
9,BRAINARD,41.74119,-72.64958,HFD,114 mi,2 hours 9 mins,CT

## Calculate costs to each of these airports

In [37]:
# dictionary to get full name of state from abbreviation
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [38]:
gas_prices = pd.read_csv('gasprices.csv', index_col=0)

In [39]:
gas_prices.head()

        State  Regular Price  Mid-Grade Price  Premium Price  Diesel Price
0      Alaska          2.216            2.426          2.532         2.534
1     Alabama          1.647            2.019          2.348         2.383
2    Arkansas          1.535            1.880          2.166         2.250
3     Arizona          2.285            2.593          2.808         2.659
4  California          2.879            3.071          3.186         3.429

In [40]:
def calc_gas_price(state, city_mpg, highway_mpg, fuel_type, trip_length):
    cost_per_gallon = float(gas_prices[gas_prices['State'] == state][fuel_type])
    avg_mpg = 0.5*(city_mpg + highway_mpg)
    price = (trip_length/avg_mpg)*cost_per_gallon
    return price

In [41]:
#test function for 2019 Toyota Prius using example from Travel4All notebook
city_mpg = 48
highway_mpg = 43
gas_type = 'Regular Price'

In [42]:
costs = []
for idx, row in df.iterrows():
    state = row['state']
    
    #get rid of 'mi' and all commas
    trip_length = float(row['dist from origin'][:-3].replace(',',''))
    cost = calc_gas_price(states[state], city_mpg, highway_mpg, gas_type, trip_length)
    costs.append(cost)

In [43]:
costs1 = []
for idx, row in df1.iterrows():
    state = row['state']
    
    #get rid of 'mi' and all commas
    trip_length1 = float(row['dist from destination'][:-3].replace(',',''))
    cost1 = calc_gas_price(states[state], city_mpg, highway_mpg, gas_type, trip_length1)
    costs1.append(cost1)

In [44]:
df['cost'] = costs
df

,address,latitude,longitude,iata code,dist from origin,time from origin,state,cost
0,SAN FRANCISCO INTL,37.61882,-122.3758,SFO,25.6 mi,38 mins,CA,1.619833
1,OAKLAND INTL,37.72104,-122.2216,OAK,15.4 mi,28 mins,CA,0.974431
2,SAN JOSE MNPL,37.36189,-121.9289,SJC,46.6 mi,58 mins,CA,2.948602
3,EXECUTIVE,38.51323,-121.4975,SAC,81.0 mi,1 hour 26 mins,CA,5.125253
4,INTERNATIONAL,38.69518,-121.5916,SMF,82.1 mi,1 hour 28 mins,CA,5.194855
5,BUCHANAN FLD,37.98937,-122.0580,CCR,22.5 mi,37 mins,CA,1.423681
6,TAHOE INTL,39.50597,-119.7731,RNO,212 mi,3 hours 29 mins,NV,11.457319
7,CHARLES M SCHULZ,38.50880,-122.8139,STS,64.1 mi,1 hour 12 mins,CA,4.055910
8,FRESNO YOSEMITE INTL,36.77606,-119.7190,FAT,186 mi,3 hours 5 mins,CA,11.769099
9,MONTEREY REGIONAL,36.58790,-121.8394,MRY,117 mi,2 hours 4 mins,CA,7.403143

In [45]:
df1['cost']=costs1
df1

,address,latitude,longitude,iata code,dist from destination,time from destination,state,cost
0,LAGUARDIA,40.77607,-73.87269,LGA,10.3 mi,25 mins,NY,0.510020
1,NEWARK LIBERTY INTL,40.69709,-74.17557,EWR,13.7 mi,28 mins,NJ,0.630802
2,JOHN F KENNEDY INTL,40.63983,-73.77874,JFK,18.6 mi,37 mins,NY,0.921007
3,PHILADELPHIA INTL,39.87835,-75.24018,PHL,104 mi,1 hour 51 mins,PA,4.843429
4,EDWARD L LOGAN INTL,42.36514,-71.01777,BOS,217 mi,3 hours 47 mins,MA,9.543231
5,WESTCHESTER COUNTY,41.06694,-73.70750,HPN,35.1 mi,56 mins,NY,1.738029
6,R REAGAN NAT,38.85233,-77.03720,DCA,233 mi,3 hours 53 mins,DC,11.061099
7,BALTIMORE/WASH. INTL,39.17528,-76.66833,BWI,199 mi,3 hours 14 mins,MD,8.559187
8,DULLES INTL,38.94877,-77.44910,IAD,249 mi,4 hours 1 min,DC,11.820659
9,BRAINARD,41.74119,-72.64958,HFD,114 mi,2 hours 9 mins,CT,5.053582

## Calculating the full cost of routes using different combinations of airports

In [46]:
total_costs = {}
flight_costs = {}

In [47]:
for idx, row in df[:3].iterrows():
    a_code = row['iata code']
    
    for idx, row2 in df1[:3].iterrows():
        b_code = row2['iata code']
        
        try:
            response = amadeus.shopping.flight_offers_search.get(
                originLocationCode=a_code,
                destinationLocationCode=b_code,
                departureDate='2020-07-01',
                adults=1)
            flight_cost=response.data[0]['price']['total']
            flight_costs[(a_code, b_code)] = flight_cost
            
            driving_cost = row['cost'] + row2['cost']
            total = float(flight_cost) + float(driving_cost)
            total_costs[(a_code, b_code)] = total
            
            
            print("The cheapest flight found from ", a_code, ' to ', b_code, ': ', flight_cost)
            print('total:', total)

        except ResponseError as error:
            print(error)

The cheapest flight found from  SFO  to  LGA :  155.40
total: 157.52985274725276
The cheapest flight found from  SFO  to  EWR :  95.40
total: 97.65063516483517
The cheapest flight found from  SFO  to  JFK :  130.27
total: 132.81083956043958
The cheapest flight found from  OAK  to  LGA :  157.40
total: 158.88445054945055
The cheapest flight found from  OAK  to  EWR :  161.40
total: 163.00523296703298
The cheapest flight found from  OAK  to  JFK :  161.40
total: 163.29543736263736
The cheapest flight found from  SJC  to  LGA :  153.40
total: 156.85862197802197
The cheapest flight found from  SJC  to  EWR :  149.40
total: 152.9794043956044
The cheapest flight found from  SJC  to  JFK :  127.27
total: 131.1396087912088

In [48]:
total_costs

{('SFO', 'LGA'): 157.52985274725276,
 ('SFO', 'EWR'): 97.65063516483517,
 ('SFO', 'JFK'): 132.81083956043958,
 ('OAK', 'LGA'): 158.88445054945055,
 ('OAK', 'EWR'): 163.00523296703298,
 ('OAK', 'JFK'): 163.29543736263736,
 ('SJC', 'LGA'): 156.85862197802197,
 ('SJC', 'EWR'): 152.9794043956044,
 ('SJC', 'JFK'): 131.1396087912088}

In [49]:
flight_costs

{('SFO', 'LGA'): '155.40',
 ('SFO', 'EWR'): '95.40',
 ('SFO', 'JFK'): '130.27',
 ('OAK', 'LGA'): '157.40',
 ('OAK', 'EWR'): '161.40',
 ('OAK', 'JFK'): '161.40',
 ('SJC', 'LGA'): '153.40',
 ('SJC', 'EWR'): '149.40',
 ('SJC', 'JFK'): '127.27'}

In [56]:
#finding cheapest full route

cheapest_a = min(total_costs, key=total_costs.get)
origin_airport = cheapest_a[0]
dest_airport = cheapest_a[1]

print(cheapest_a)

('SFO', 'EWR')

In [59]:
#Full route: origin_address -> origin_airport -> dest_airport -> dest_address
print("Start at", origin_address, "and drive to", origin_airport + ".",
     "The cost of this portion of the trip:", df[df['iata code']==origin_airport]['cost'].iloc[0])
print()
print("Take flight from", origin_airport, 'to', dest_airport + ".",
     "The cost of this portion of the trip:", flight_costs[(origin_airport, dest_airport)])
print()
print("Drive from", dest_airport, "to", dest_address + ".",
     "The cost of this portion of the trip:", df1[df1['iata code']==dest_airport]['cost'].iloc[0])
print()
print("The total cost of the trip is:", total_costs[cheapest_a])

Start at 1512 Shattuck Ave, Berkeley, CA 94709 and drive to SFO. The cost of this portion of the trip: 1.6198329670329668

Take flight from SFO to EWR. The cost of this portion of the trip: 95.40

Drive from EWR to New York University,New York, NY 10003. The cost of this portion of the trip: 0.6308021978021978

The total cost of the trip is: 97.65063516483517

In [60]:
'''
NEXT STEPS: 
1. Is there a way to automate getting the city and highway mpg?
2. Adding in the cost of the rental car (1 day)
3. ML TIME!!!

'''

'\nNEXT STEPS: \n1. Is there a way to automate getting the city and highway mpg?\n2. Adding in the cost of the rental car (1 day)\n3. ML TIME!!!\n\n'