In [0]:
import requests
from bs4 import BeautifulSoup as bs
from urllib.request import Request, urlopen
import pandas as pd

In [0]:
source = requests.get("https://gasprices.aaa.com/state-gas-price-averages/")
# content = BeautifulSoup(requests.get("https://gasprices.aaa.com/state-gas-price-averages/").text)

In [0]:
req = Request("https://gasprices.aaa.com/state-gas-price-averages/", headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
soup = bs(webpage, features="html.parser")
table = soup.find(id='sortable')

In [0]:
# extract all the states included in table
states = []
for s in table.find_all('a'):
  state = s.text[2:].strip()
  states.append(state)
print(states)

['Alaska', 'Alabama', 'Arkansas', 'Arizona', 'California', 'Colorado', 'Connecticut', 'District of Columbia', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Iowa', 'Idaho', 'Illinois', 'Indiana', 'Kansas', 'Kentucky', 'Louisiana', 'Massachusetts', 'Maryland', 'Maine', 'Michigan', 'Minnesota', 'Missouri', 'Mississippi', 'Montana', 'North Carolina', 'North Dakota', 'Nebraska', 'New Hampshire', 'New Jersey', 'New Mexico', 'Nevada', 'New York', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Virginia', 'Vermont', 'Washington', 'Wisconsin', 'West Virginia', 'Wyoming']

In [0]:
# gas_types = ['regular', 'mid_grade', 'premium', 'diesel']
# regular_prices = []
# mid_prices = []
# prem_prices = []
# d_prices = []

# for g in gas_types:
#   # if g == 'regular':
#   #   res = regular_prices
#   # elif g=='mid_grade':
#   #   res = mid_prices
#   # elif g=='premium':
#   #   res = mid_prices
#   # elif g=='diesel':
#   #   res = d_prices

#   # exclude the first element in find_all list (header)
#   for p in table.find_all(class_=g)[1:]:
#     price = p.text
#     # get rid of dollar sign and surrounding white spaces
#     price = p.text.replace("$", "").strip()
    
#     #convert to number
#     price = float(price)
#     res.append(price)
  

# print(regular_prices)
# print(mid_prices)
# print(prem_prices)
# print(d_prices)

In [0]:
# extract all the regular gas prices included in table
regular_prices = []

# exclude the first element in find_all list (header)
for reg in table.find_all(class_='regular')[1:]:
  price = reg.text
  # get rid of dollar sign and surrounding white spaces
  price = reg.text.replace("$", "").strip()

  #convert to number
  price = float(price)
  regular_prices.append(price)
print(regular_prices)

[2.465, 1.741, 1.679, 2.399, 2.991, 1.934, 2.104, 2.26, 1.895, 1.922, 1.79, 3.345, 1.719, 2.256, 1.988, 1.661, 1.714, 1.624, 1.787, 2.07, 1.997, 1.889, 1.65, 1.795, 1.694, 1.671, 1.991, 1.789, 1.827, 1.86, 1.992, 2.158, 1.915, 2.586, 2.309, 1.587, 1.507, 2.665, 2.178, 2.074, 1.719, 1.887, 1.718, 1.691, 2.302, 1.812, 2.065, 2.71, 1.491, 1.915, 2.136]

In [0]:
# extract all the mid_grade gas prices included in table
mid_prices = []

# exclude the first element in find_all list (header)
for reg in table.find_all(class_='mid_grade')[1:]:
  price = reg.text
  # get rid of dollar sign and surrounding white spaces
  price = reg.text.replace("$", "").strip()

  #convert to number
  price = float(price)
  mid_prices.append(price)
print(mid_prices)

[2.651, 2.127, 2.029, 2.712, 3.193, 2.249, 2.538, 2.762, 2.369, 2.323, 2.162, 3.527, 1.913, 2.466, 2.414, 2.016, 1.98, 2.009, 2.128, 2.447, 2.489, 2.288, 2.066, 2.145, 1.997, 2.037, 2.211, 2.191, 2.045, 2.009, 2.408, 2.575, 2.224, 2.807, 2.661, 1.98, 1.817, 2.888, 2.531, 2.507, 2.102, 2.063, 2.117, 2.046, 2.47, 2.257, 2.508, 2.969, 1.924, 2.198, 2.362]

In [0]:
# extract all the premium gas prices included in table
prem_prices = []

# exclude the first element in find_all list (header)
for reg in table.find_all(class_='premium')[1:]:
  price = reg.text
  # get rid of dollar sign and surrounding white spaces
  price = reg.text.replace("$", "").strip()

  #convert to number
  price = float(price)
  prem_prices.append(price)
print(prem_prices)

[2.775, 2.454, 2.306, 2.926, 3.303, 2.512, 2.769, 2.886, 2.591, 2.608, 2.458, 3.701, 2.298, 2.638, 2.806, 2.334, 2.241, 2.321, 2.433, 2.651, 2.719, 2.538, 2.403, 2.419, 2.262, 2.348, 2.489, 2.497, 2.281, 2.399, 2.674, 2.76, 2.456, 2.977, 2.875, 2.317, 2.028, 3.05, 2.803, 2.717, 2.407, 2.423, 2.428, 2.327, 2.633, 2.554, 2.783, 3.109, 2.257, 2.495, 2.575]

In [0]:
# extract all the diesel gas prices included in table
d_prices = []

# exclude the first element in find_all list (header)
for reg in table.find_all(class_='diesel')[1:]:
  price = reg.text
  # get rid of dollar sign and surrounding white spaces
  price = reg.text.replace("$", "").strip()

  #convert to number
  price = float(price)
  d_prices.append(price)
print(d_prices)

[2.631, 2.435, 2.328, 2.727, 3.504, 2.441, 2.857, 2.816, 2.365, 2.538, 2.612, 4.084, 2.315, 2.692, 2.569, 2.627, 2.275, 2.439, 2.385, 2.724, 2.492, 2.656, 2.607, 2.528, 2.291, 2.309, 2.339, 2.517, 2.284, 2.327, 2.615, 2.668, 2.523, 2.853, 2.95, 2.551, 2.105, 2.851, 2.857, 2.803, 2.407, 2.39, 2.465, 2.289, 2.624, 2.482, 2.635, 2.921, 2.268, 2.481, 2.526]

In [0]:
d = {'State':states, 'Regular Price':regular_prices, 'Mid-Grade Price':mid_prices, 'Premium Price':prem_prices, 'Diesel Price':d_prices}
gas_prices = pd.DataFrame(data = d)
gas_prices

                   State  Regular Price  ...  Premium Price  Diesel Price
0                 Alaska          2.465  ...          2.775         2.631
1                Alabama          1.741  ...          2.454         2.435
2               Arkansas          1.679  ...          2.306         2.328
3                Arizona          2.399  ...          2.926         2.727
4             California          2.991  ...          3.303         3.504
5               Colorado          1.934  ...          2.512         2.441
6            Connecticut          2.104  ...          2.769         2.857
7   District of Columbia          2.260  ...          2.886         2.816
8               Delaware          1.895  ...          2.591         2.365
9                Florida          1.922  ...          2.608         2.538
10               Georgia          1.790  ...          2.458         2.612
11                Hawaii          3.345  ...          3.701         4.084
12                  Iowa          1.719  ...          2.298         2.315
13                 Idaho          2.256  ...          2.638         2.692
14              Illinois          1.988  ...          2.806         2.569
15               Indiana          1.661  ...          2.334         2.627
16                Kansas          1.714  ...          2.241         2.275
17              Kentucky          1.624  ...          2.321         2.439
18             Louisiana          1.787  ...          2.433         2.385
19         Massachusetts          2.070  ...          2.651         2.724
20              Maryland          1.997  ...          2.719         2.492
21                 Maine          1.889  ...          2.538         2.656
22              Michigan          1.650  ...          2.403         2.607
23             Minnesota          1.795  ...          2.419         2.528
24              Missouri          1.694  ...          2.262         2.291
25           Mississippi          1.671  ...          2.348         2.309
26               Montana          1.991  ...          2.489         2.339
27        North Carolina          1.789  ...          2.497         2.517
28          North Dakota          1.827  ...          2.281         2.284
29              Nebraska          1.860  ...          2.399         2.327
30         New Hampshire          1.992  ...          2.674         2.615
31            New Jersey          2.158  ...          2.760         2.668
32            New Mexico          1.915  ...          2.456         2.523
33                Nevada          2.586  ...          2.977         2.853
34              New York          2.309  ...          2.875         2.950
35                  Ohio          1.587  ...          2.317         2.551
36              Oklahoma          1.507  ...          2.028         2.105
37                Oregon          2.665  ...          3.050         2.851
38          Pennsylvania          2.178  ...          2.803         2.857
39          Rhode Island          2.074  ...          2.717         2.803
40        South Carolina          1.719  ...          2.407         2.407
41          South Dakota          1.887  ...          2.423         2.390
42             Tennessee          1.718  ...          2.428         2.465
43                 Texas          1.691  ...          2.327         2.289
44                  Utah          2.302  ...          2.633         2.624
45              Virginia          1.812  ...          2.554         2.482
46               Vermont          2.065  ...          2.783         2.635
47            Washington          2.710  ...          3.109         2.921
48             Wisconsin          1.491  ...          2.257         2.268
49         West Virginia          1.915  ...          2.495         2.481
50               Wyoming          2.136  ...          2.575         2.526

[51 rows x 5 columns]

In [0]:
#Gas Price Script
#function calculates average gas price for a trip that starts in a given state based on fuel type, trip length, and
#city/highway mpg
#city_mpg and highway_mpg are user inputs

def calc_gas_price(state, city_mpg, highway_mpg, fuel_type, trip_length):
    cost_per_gallon = gas_prices[gas_prices['State'] == state][fuel_type]
    avg_mpg = 0.5*(city_mpg + highway_mpg)
    price = (trip_length/avg_mpg)*cost_per_gallon
    return price

In [0]:
#test function for Chevrolet Volt LT using example from Travel4All notebook
city_mpg = 99
highway_mpg = 109
trip_length = 20.5
cost = calc_gas_price('California', city_mpg, highway_mpg, 'Regular Price', trip_length)
cost

4    0.589572
Name: Regular Price, dtype: float64